$white: white;
$black: black;

$mainColor: #717171;
$secondColor: #171717;
$accentColor: #8000ff;

$accentGradient: linear-gradient(to right, #BC00FF 0%, #7400e0 100%);

$confirmColor: rgb(0, 255, 21);
$errorColor: red;