@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input {
  all: unset;
}

body {
  background-color: black;
  color: white;
  font-family: "Poppins", Tahoma, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

nav {
  display: flex;
  min-height: 50px;
  width: 600px;
  background-color: #171717;
  border-radius: 15px;
  margin-top: 20px;
}
nav i {
  width: 50px;
  height: 100%;
  padding: 0 15px;
  padding-top: 24px;
  border-radius: 15px;
}
nav input {
  width: 550px;
  height: 100%;
  font-size: 18px;
  padding-left: 2px;
  color: white;
}

#dataHeader {
  font-size: 2rem;
}

#dataSubHeader {
  font-weight: 500;
}

#countryFlag {
  font-size: 2rem;
  margin-right: 8px;
}

.data__header {
  display: flex;
  flex-direction: row;
}

.data__container {
  margin: 20px 0;
  padding: 20px;
  width: 600px;
  height: 600px;
  background-color: #171717;
  border-radius: 15px;
}
.data__container .data__body {
  margin: 15px 0;
}
.data__container .data__body #dataTable {
  margin-top: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}
.data__container .data__body #dataTable p.data__body--paragraph {
  color: white;
}
.data__container .data__body--map {
  height: 300px;
  width: 100%;
}
.data__container .data__body--map #map img {
  width: 100%;
}

button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: linear-gradient(to right, #BC00FF 0%, #7400e0 100%);
  color: white;
  width: 100px;
  border-radius: 15px;
  text-align: center;
}
button:hover {
  transition: 0.2s ease;
  filter: brightness(1.2);
}

.error {
  color: red !important;
}

.bounce {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}

@keyframes bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}/*# sourceMappingURL=main.css.map */